body {
  background: #282C33;
  overflow: scroll;
}

.nav-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #282C33;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
  z-index: 1;
}

.nav-left {
  margin-right: 20px;
}

.nav-left img {
  height: 50px; /* match the height of the nav-middle */
  width: auto; /* maintain the aspect ratio */
}

.nav-middle ul,li {
  font-size: large;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: white;
}

.intro {
  top: 123px;
  left: 171px;
  font-size: 52px;
  color: white;
  margin-top: 100px; /* adjust the margin top to position the text */
  text-align: left;
}

.intro-section{
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
}

.image-container{
  margin-left: 20px; 
  align-self: flex-end;
  padding-right: 150px;
}
.subtext{
  display: block;
  text-align: left;
  font-size:20px;
  margin-top: 20px;
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
  color:#9fa0a3
}

.webdesigner {
  color: #C778DD;
}

.developer {
  color: #C778DD;
}

.hashtag {
  color: #C778DD;
}
